.chat{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.chat-header{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--borderColor);
}

.chat-header-info{
    flex: 1;
    padding-left: 20px;
}

.chat-header-info h2{
    margin-bottom: 3px;
    color: var(--titleColor);
    font-size: 2rem;
}

.chat-header-info p{
    color: var(--pColor);
    font-size: 1.3rem;
}

.chat-header-right{
    display: flex;
    min-width: 100px;
}

.chat-header-right .MuiSvgIcon-root{
    color: var(--titleColor);
    font-size: 2.4rem;
}

.chat-header-right .MuiIconButton-root{
    margin-right: 4px;
    background-color: var(--buttonColor);
}

.chat-body{
    flex: 1;
    padding: 0px 22px 0px 22px;
    background-image: var(--backgroundImage);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.chat-body ::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

.chat-body button{
    width: 36px;
    height: 36px;
    left: calc(50% - 18px);
    bottom: 4px;
    color: var(--titleColor);
    font-size: 2rem;
    border: 1px solid var(--titleColor);
    border-radius: 50%;
    background-color: var(--sendColor);
    transition: 0.2s;
    -webkit-animation: bounce 0.4s alternate infinite;
    -moz-animation: bounce 0.4s alternate infinite;
    -o-animation: bounce 0.4s alternate infinite;
    animation: bounce 0.4s alternate infinite;
}
.chat-body button::before{
    position: relative;
    content: "▾";
}

.chat-body button:hover{
    background-color: transparent;
}
@-webkit-keyframes bounce{
    0%{
        bottom: 4px;
    }
    100%{
        bottom: 12px
    }
}
@keyframes bounce{
    0%{
        bottom: 4px;
    }
    100%{
        bottom: 12px
    }
}

.chat-message{
    width: fit-content;
    max-width: 55%;
    margin: 25px 3px 0 3px;
    padding: 10px;
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    background-color: var(--messageColor);
    border-radius: 10px;
}
.chat-sender::before{
    content: "";
    position: absolute;
    left: -1px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 15px solid var(--messageColor);
    transform: rotate(13deg);
}

.chat-receiver{
    margin-top: 15px;
    margin-left: auto;
    color: rgb(4, 21, 49);
    background-color: var(--messageSentColor);
}
.chat-receiver::before{
    content: "";
    position: absolute;
    right: -1px;
    bottom: -8px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 15px solid var(--messageSentColor);
    transform: rotate(-13deg);
}

.chat-name{
    width: 200px;
    position: absolute;
    top: -19px;
    left: 0px;
    color: var(--titleColor);
    font-size: 1.4rem;
}

.chat-timestamp{
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(100% + 8px);
    display: flex;
    align-items: center;
    color: var(--pColor);
    font-size: 1rem;
}
.chat-receiver .chat-timestamp{
    left: -85px;
}

.chat-footer{
    width: 100%;
    height: 80px;
    height: 80px;
    padding: 5px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--borderColor);
}

.chat-footer .MuiSvgIcon-root{
    margin: 10px 15px 10px 10px;
    color: var(--titleColor);
    font-size: 3rem;
    cursor: pointer;
}

.chat-footer form{
    flex: 1;
    display: flex;
}

.chat-footer form textarea{
    flex: 1;
    margin-right: 10px;
    padding: 11px 15px;
    font-size: 1.6rem;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    resize: none;
}

.chat-footer form button{
    width: 60px;
    height: 60px;
    background-color: var(--sendColor);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.chat-footer form button .MuiSvgIcon-root{
    margin: 0;
    color: var(--titleColor);
    font-size: 3rem;
}

.chat-footer form button:hover{
    background-color: var(--secondColor);
}
