.sidebar-chat{
    padding: 10px 20px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--borderColor);
    cursor: pointer;
}

.sidebar-chat:hover, .add-private-chat:hover{
    background-color: var(--borderColor) !important;
}

a{
    text-decoration: none;
}

.sidebar-chat:hover h3, .sidebar-chat:hover h2, .add-private-chat:hover p{
    color: rgb(255, 255, 255);
}
.sidebar-chat:hover p{
    color: rgb(240, 246, 255);
}

.sidebar-chat .MuiSvgIcon-root{
    color: var(--titleColor);
    font-size: 2.4rem;
}
.sidebar-chat .MuiIconButton-root{
    background-color: var(--sendColor);
}

.sidebar-chat h2{
    margin-left: 7px;
}

.sidebar-chat-info{
    margin-left: 15px;
}

.sidebar-chat-info h3, .sidebar-chat h2{
    color: var(--titleColor);
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar-chat-info p{
    color: var(--pColor);
    font-size: 1.3rem;
}

.create-new-chat{
    height: fit-content;
    max-height: 400px;
    padding: 10px 0;
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--firstColor);
    z-index: 10;
}

.add-private-chat{
    width: 100%;
    padding: 5px 25px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 99;
}

.add-private-chat::before{
    position: absolute;
    content: "";
    height: 1px;
    bottom: 0;

}

.add-private-chat .add-username{
    color: var(--titleColor);
    font-size: 1.5rem;
    margin-left: 10px;
}
